body {
  font-family: 'Open Sans', sans-serif;
}

h1 a {
  color:#000;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 14px;
  margin:20px 0;
  line-height: 1.8em;
}

.avatar
{
  padding: 10px 20px 0 0px;
}

.hero-unit.light .hero-text
{
  text-align: left;
}

.hero-text h1
{
  font-size: 28px;
  margin-bottom: 10px;
}

.hero-text p
{
  font-size: 11px;
  margin:0;
}

.hero-unit
{
  background: #FFF;
  padding: 20px;
  margin:20px 0 0 0;
}

.hero-unit hr
{
  margin:40px 0 0px 0;
}

.row
{
  margin-left: 0;
}

.footer
{
  margin-bottom: 30px;
}

.utility
{
  position: fixed;
  top:0;
  right:20px;
}

.show .row, .index .row
{
  padding:20px 0;
}

.show h1
{
  margin:0 0 20px 0;
  font-size: 24px;
}

post h1
{
  font-size: 24px;
  margin-top: 0;
}

post hr
{
  margin: 50px 0 30px 0;
}

post .btn
{
  margin-top: 15px;
}

#advert
{
  padding:20px 0 0 0;
  width:500px;
  margin:0 auto;
}

.pagination
{
  margin:-20px 0 20px 0;
}

/* forms */
#post_Body
{
  width:60%;
}
