body {
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
}

html {
  margin: 0;
  padding: 0;
}

h1 a {
  color:#000;
  text-decoration: none;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 14px;
  margin:20px 0;
  line-height: 1.8em;
}

.container-fluid
{
  margin:0 auto 0 auto;
  max-width: 940px;
  padding:0px 20px;
}

.avatar
{
  padding: 10px 20px 0 0px;
}

.pull-left

.hero-unit.light .hero-text
{
  text-align: left;
}

.hero-text h1
{
  font-size: 28px;
  margin-bottom: 10px;
}

.hero-text p
{
  font-size: 11px;
  margin:0;
}

.hero-unit
{
  background: #FFF;
  padding: 20px 0px;
  margin:20px 0 0 0;
}

.hero-unit hr
{
  margin:40px 0 0px 0;
}

.error .row-fluid
{
  margin: 60px 0;
  text-align: center;
}

.row
{
  margin-left: 0;
}

.footer .container
{
  padding:0 0 20px 0px;
}

.utility
{
  position: fixed;
  top:0;
  right:20px;
}

.show h1
{
  margin:0 0 20px 0;
  font-size: 24px;
}

.show #advert
{
  padding:30px 0 0 0;
}

post h1
{
  font-size: 24px;
  margin-top: 0;
}

post hr
{
  margin: 50px 0 30px 0;
}

post .btn
{
  margin-top: 15px;
}

post img
{
  margin:0 auto;
}

.text-center.img
{
  margin: 40px 0;
  text-align: center;
}

.text-center.img img
{
  max-width:60%;
}

#advert
{
  padding:20px 0 0 0;
  width:50%;
  margin:0 auto;
}

.pagination
{
  margin:0px 0 0px 0;
}

.pagination.pull-left
{
  margin-top: -2px;
  padding:20px 20px 0 0;
}

.pagination.pull-right
{
  margin-top: -3px;
  padding:20px 0 0 20px;
}

/* forms */
#post_Body
{
  width:60%;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .hero-unit {
    text-align: center;
    width:100%;
    padding-left: 0;
    padding-right: 0;
  }
  .pull-left.avatar {
    width:100%;
    padding-left: 0;
    padding-right: 0;
  }
  .hero-unit .pull-left {
    float:none;
  }
}
