{{set . "title" .post.Title}}
{{template "header.html" .}}
{{template "hero.html" .}}

<div class="utility">
  {{if .authenticated}}
    <p><a class="btn btn-danger" href="/post/{{.post.Id.Hex}}/delete">Delete</a> <a class="btn btn-warning" href="/post/{{.post.Id.Hex}}/update">Update</a></p>
  {{end}}
</div>
{{if .post}}
  <div class="container show">
      <div class="row">
        <h1>{{.post.Title}}</h1>
        <post>
          {{raw .post.Body}}
        </post>
      </div>
      <hr/>
      {{template "Post/ad.html" .}}
  </div>
{{end}}
{{if .posts}}
  <div class="container error">
    <div class="row">
      <h2>Sorry, that doesn't exist, were you looking for any of these?</h2>
      {{range $index, $post := .posts}}
        <h3><a href="/post/{{.Id.Hex}}">{{$post.Title}}</a></h3>
      {{end}}
    </div>
    <hr />
  </div>
{{end}}
{{template "footer.html" .}}
