  <div class="footer">
    <div class="container">
      {{if .prevPage}}
        <p class="pagination pull-left"><a class="btn" href="/posts/page/{{.prevPage}}">Previous</a></p>
      {{end}}
      <p class="pull-left">
        <small>Powered by <a href="http://golang.org/" target="_blank">Go</a></small>
      </p>
      {{if .nextPage}}
        <p class="pagination pull-right"><a class="btn" href="/posts/page/{{.nextPage}}">Next</a></p>
      {{end}}
      <p class="pull-right">
        <small>&copy; {{year}} Alex Fish</small>
      </p>

    </div>
  </div>
    <!-- BuySellAds Ad Code -->
  <script type="text/javascript">
  (function(){
    var bsa = document.createElement('script');
       bsa.type = 'text/javascript';
       bsa.async = true;
       bsa.src = 'http://s3.buysellads.com/ac/bsa.js';
    (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
  })();
  </script>
  <!-- End BuySellAds Ad Code -->
  </body>
</html>
