  <div class="footer">
    <div class="container-fluid">
      {{if .prevPage}}
        <p class="pagination pull-left"><a class="btn" href="/posts/page/{{.prevPage}}">Previous</a></p>
      {{end}}
      <p class="pull-left">
        <small>Powered by <a href="http://golang.org/" target="_blank">Go</a></small>
      </p>
      {{if .nextPage}}
        <p class="pagination pull-right"><a class="btn" href="/posts/page/{{.nextPage}}">Next</a></p>
      {{end}}
      <p class="pull-right">
        <small>&copy; {{year}} Alex Fish</small>
      </p>

    </div>
  </div>
  <!-- Google Analytics -->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17134958-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <!-- End Google Analytics -->
  </body>
</html>
