<header class="hero-unit">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="hero-text">
        <div class="pull-left avatar">
          <a href="/"><img src="/public/images/avatar.png" alt="avatar"/></a>
        </div>
        <div class="pull-left">
          <h1><a href="/">Alex E. Fish</a></h1>
          <p>iOS Developer in London, rambling about Objective-C, iOS Development and anything related.</p>
          <p>If you would like to get in touch, feel free to <a href="mailto:alex@alexefish.com?Subject=Hey">email me</a> or @ me on <a href="http://twitter.com/alexfish" target="_blank">twitter</a>.</p>
        </div>
        <div class="clearfix"></div>
        <hr/>
      </div>
    </div>
  </div>
</header>
